@charset "ISO-8859-1";

.body {
	font-family: 'Roboto Condensed', Sans-seriff;
}

.btn-cover {
    border-color: #34C6D3;
    display: table;
    background-color: #367EE6;	
    
}

.text-center {
	display: table-cell;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}